<%= form_with(model: solicitante, local: true) do |form| %>
  <% if solicitante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solicitante.errors.count, "error") %> prohibited this solicitante from being saved:</h2>

      <ul>
      <% solicitante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login_unal %>
    <%= form.text_field :login_unal, id: :solicitante_login_unal %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :solicitante_nombre %>
  </div>

  <div class="field">
    <%= form.label :cargo %>
    <%= form.text_field :cargo, id: :solicitante_cargo %>
  </div>

  <div class="field">
    <%= form.label :dependencia %>
    <%= form.text_field :dependencia, id: :solicitante_dependencia %>
  </div>

  <div class="field">
    <%= form.label :num_contacto %>
    <%= form.number_field :num_contacto, id: :solicitante_num_contacto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
